{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="w-full  mx-auto bg-gray-800 p-2 text-white border-b border-gray-600 ">
        <form method="Post" action="{% url 'index' %}" enctype="multipart/form-data">
            {%csrf_token%}

            <div class="flex">
                {%if user.is_authenticated %}
                    <img class="w-14 h-12 rounded-full mr-2" src="{{user.picture.url}}" alt="Profile Avatar">
                {%else%}
                    <img class="w-14 h-12 rounded-full mr-2" src="{% static 'network/Images/default.png' %}" alt="Profile Avatar">
                {%endif%}
                
                <div class="w-full text-xl">
                    <textarea name="content" oninput="resize(this)" class="text-xl h-12 w-full p-2 bg-gray-800 overflow-y-hidden resize-none focus:outline-offset-0 focus:ring-0  border-0 focus:border-b focus:border-gray-600" 
                        placeholder="What's happening?"></textarea>
                    <div id="images-container" class="relative"></div>
                </div>
            </div>

            <div class="flex justify-between mt-2 ml-14">
                <label for="I" class=" flex items-center hover:cursor-pointer rounded-full hover:bg-sky-400 hover:bg-opacity-10 px-2.5" alt="Media">
                    <i class="fa-solid fa-image text-[20px] text-sky-500"></i>
                    <input type="file" name="I" id="I" value="{{I}}" accept="image/*,jpg,jpeg,png" onchange="previewImages()" hidden/>
                </label>
                <button class="tweet w-[20%] px-1 py-2" type="submit"> <span>Post</span></button>
            </div>
        </form>
    </div>

    {%for post in posts%}
        <div id="posts" class="w-full mx-auto bg-gray-800 pb-1 p-2 text-white border-b border-gray-600">
            <div class="flex">
                <img class="w-14 h-12 rounded-full mr-2" src="{{post.user.picture.url}}" alt="user Avatar">
                
                <div class="w-full">
                    <div class="flex justify-between">
                        <div>
                            <span class="font-bold">{{post.user|title}}</span>
                            <span class="text-gray-500 text-[13px]">{{post.timestamp|timesince}} ago</span>
                            <span class="text-gray-500 text-[13px]">•</span>
                            <span class="text-gray-500 text-[13px]">Public</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-h text-gray-500 text-xl"></i>
                        </div>
                    </div>
                    <div class="text-md w-full pl-0 pt-0 p-2 bg-gray-800 ">{{post.content}}</div>
                    {% if post.images %}
                        <div id="images-container" class="">
                            <img class="max-w-xs max-h-xs rounded" src="{{post.images.url}}" alt="post image"> 
                        </div> 
                    {%endif%}

                </div>
            </div>
            <div class="flex justify-between mt-1 mx-20 text-gray-500">
                <div onclick="openCommentBox('{{post.user|title}}','{{post.timestamp|timesince}}','{{post.content}}','{{post.user.picture.url}}')" class="flex hover:text-blue-400 hover:cursor-pointer"><i class="fa-regular fa-comment-dots text-xl rounded-full hover:bg-blue-400 hover:bg-opacity-20 p-2 "></i><span class="mt-1.5 ml-1">{{post.comments.count}}</span></div>
                {% if user not in post.likes.all%}
                    <div id="like" onclick="like(this,{{post.id}})" class="flex hover:text-rose-400 hover:cursor-pointer"><i class="fa-regular fa-heart text-xl rounded-full hover:bg-rose-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.likes.count}}</span></div>
                {%else%}
                    <div id="like" onclick="like(this,{{post.id}})" class="flex hover:text-rose-400 hover:cursor-pointer text-rose-400"><i class="fa-solid fa-heart text-xl rounded-full hover:bg-rose-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.likes.count}}</span></div>
                {%endif%}
                <div class="flex hover:text-emerald-500 hover:cursor-pointer"><i class="fa-solid fa-retweet text-xl rounded-full hover:bg-emerald-500 hover:bg-opacity-20 p-2"></i></div>
            </div>
        </div>
    {%endfor%}

    <div id="overlay" class="fixed inset-0 w-screen h-screen bg-gray-500 bg-opacity-30 hidden">
        <div id="commentbox" class="w-[600px] min-h-[366px] bg-gray-800 rounded-2xl m-auto mt-20 p-2 ">

            <div onclick="closeCommentBox()" class="relative mb-8 inset-2 text-white text-xl hover:cursor-pointer"><i class="fa-solid fa-xmark"></i></div>
            <div id="posts" class="w-full mx-auto bg-gray-800 pb-1 p-2 text-white">
                <div class="flex">
                    <img id="reply_pic" class="w-14 h-12 rounded-full mr-2" src="" alt="user Avatar">
                    
                    <div class="w-full">
                        <div class="flex pt-1">
                            <div>
                                <span id="username" class="font-bold"></span>
                                <span id="timestamp" class="text-gray-500 text-[13px]"></span>
                                <span class="text-gray-500 text-[13px]">•</span>
                                <span class="text-gray-500 text-[13px]">Public</span>
                            </div>
                        </div>
                        <div id="content" class="text-md w-full pl-0 pt-0 p-2 bg-gray-800 "></div>
                        <div class=" text-gray-500 text-[14px] w-full pl-0 pt-0 p-2  ">Replying to <span></span></div>
                    </div>
                </div>
            </div>

            <div class=" w-full min-h-[185px] mx-auto bg-gray-800 p-2 text-white ">
                <form class="h-full" method="Post" action="" enctype="multipart/form-data">
                    {%csrf_token%}

                    <div class="flex">
                        {%if user.is_authenticated %}
                            <img class="w-14 h-12 rounded-full mr-2" src="{{user.picture.url}}" alt="Profile Avatar">
                        {%else%}
                            <img class="w-14 h-12 rounded-full mr-2" src="{% static 'network/Images/default.png' %}" alt="Profile Avatar">
                        {%endif%}
                        
                        <div class="w-full text-xl">
                            <textarea name="content" oninput="resize(this)"  class="text-xl h-28 w-full p-2 overflow-y-hidden bg-gray-800 resize-none focus:outline-offset-0 focus:ring-0  border-0 focus:border-b focus:border-gray-600" 
                                placeholder="Post your reply"></textarea>
                        </div>
                    </div>

                    <div class="flex justify-end mt-2 ml-14">
                        <button class="tweet w-[20%] px-1 py-2" type="submit"> <span>Reply</span></button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

    <div class="w-full mx-auto bg-gray-800 p-2 text-white border-b border-gray-600">
        <div class="flex justify-center">
            <div class="flex">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}" class="text-gray-500 text-xl hover:text-blue-400 hover:cursor-pointer">Previous</a>
                {% endif %}
                <span class="text-gray-500 text-xl mx-2">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="text-gray-500 text-xl hover:text-blue-400 hover:cursor-pointer">Next</a>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function openCommentBox(u,t,c,url) {
            var username = document.querySelector("#username");
            var timestamp = document.querySelector("#timestamp");
            var content = document.querySelector("#content");
            var reply_pic = document.querySelector("#reply_pic");
            reply_pic.src = url;  
            username.innerHTML = u;
            timestamp.innerHTML = t + " ago";
            content.innerHTML = c;
            
            var commentBox = document.getElementById("overlay");
            commentBox.classList.remove("hidden");
          }
          
        function closeCommentBox() {
            var commentBox = document.getElementById("overlay");
            commentBox.classList.add("hidden");
          }
          
          // Close the comment box if the user clicks outside of it
        window.onclick = function(event) {
            var commentBox = document.getElementById("overlay");
            if (event.target == commentBox) {
              commentBox.classList.add("hidden");
            }
          }

        // function that will resize the textarea
        function resize(element){
            element.style.height = "auto";
            element.style.height = element.scrollHeight + "px";
            
        }
        // function that will preview the images
        function previewImages() {
            const preview = document.querySelector('#images-container');
            const input = document.querySelector('#I');
            const files = document.querySelector('#I').files;
            preview.innerHTML = "";
            if (files && files.length > 0) {
              const file = files[0]; // assuming only one file is selected
              if (file.type.match(/^image\//)) {
                const reader = new FileReader();
                reader.onload = function(event) {
                  const image = new Image();
                  image.title = file.name;
                  image.src = event.target.result;
                  image.classList.add("max-w-xs", "max-h-xs");
                  const removeButton = document.createElement("button");
                  removeButton.innerText = "X";
                  removeButton.classList.add("absolute", "top-2", "left-2","px-2" ,"text-white", "bg-red-400", "rounded-full", "hover:bg-red-600", "focus:outline-none","transition", "duration-300", "ease-in-out", "transform", "hover:-translate-y-1", "hover:scale-110", "active:scale-95", "active:translate-y-0");
                    removeButton.onclick = function() {
                        preview.removeChild(image);
                        preview.removeChild(removeButton);
                        input.value = "";
                    };
                  preview.appendChild(image);
                  preview.appendChild(removeButton);
                };
                reader.readAsDataURL(file);
              } else {
                alert("Please select a valid image file.");
              }
            }
          }
        
        // function that will like the post onclcik
        function like(element, id){
            //send a request to the server
            fetch(`/like/${id}`)
            .then(response => {
                if (response.ok) {
                    // Request succeeded, handle the response
                    response.json();
                    //get the heart of the div that called the function
                    const heart = element.querySelector('i');
                    //change the color of the heart of the div that called the function
                    element.classList.toggle("text-rose-400");
                    heart.classList.toggle("fa-regular");
                    heart.classList.toggle("fa-solid");
                    //get the number of likes
                    var likes = element.querySelector('span');
                    //change the number of likes
                    if(element.classList.contains("text-rose-400")){
                        likes.innerHTML = parseInt(likes.innerHTML) + 1;
                    }else{
                        likes.innerHTML = parseInt(likes.innerHTML) - 1;
                    }
                } 
                else {
                // Request failed, throw an error
                throw new Error("Error");
                }
            })
            .catch(error => {
                return alert("Please log in first");
            });
        }
    </script>
{% endblock %}
{% block footer %}
    footer
{% endblock %}