{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Cybella Network{% endblock %}</title>
        {% block styles %}
        {% endblock %}
        {% tailwind_css %}
        <link rel ="stylesheet" href="{% static 'network/css/styles.css' %}">
        <script src="https://kit.fontawesome.com/d61c00eed6.js" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body class="overflow-hidden w-screen h-screen flex flex-row">
        <!-- Sidebar -->
        <nav class=" container lg:max-w-md flex flex-col p-2  flex-grow bg-gray-800 h-screen items-end ">

            <div class="sidebar flex flex-col text-xl font-normal text-white w-[275px] h-full justify-between">

                <div class="w-full">
                    <div id="logo" class="">
                        <div class="flex text-center my-3 pl-4">
                            <img src="{% static 'network/Images/CM_logo.png' %}" alt="logo" class="">
                            <h1 class="text-white font-bold text-xl pl-0 pt-3">Cybella</h1>
                        </div>
                    </div>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class=" p-2 px-5 justify-center"><i class="fa-solid fa-house text-xl mr-8 w-4"></i><span class="font-bold">Home</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-solid fa-tag text-2xl mr-8 w-4 "></i><span>Following</span></div></a>
                    <button class="tweet mt-6">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Post</span>
                    </button>
                </div>

                <div>
                    {% if user.is_authenticated %}
                        <a class="p-2 text-center logout flex justify-between" href="{% url 'logout' %}"><span>{{user.email}}</span><i class="fa-solid fa-right-from-bracket text-2xl"></i></a>
                    {% else %}
                        <a class="py-1 text-center sidebar-link flex justify-between" href="{% url 'login' %}"><span>Log In/Register</span><i class="fa-solid fa-right-to-bracket text-2xl"></i></a>
                    {% endif %}
                </div>

            </div>
        </nav>
        <!-- Sidebar -->
        <div class="body h-screen flex flex-row w-full">
            <div class="bg-red-300 flex-grow">
                {% block body %}
                {% endblock %}
            </div>
            <div class="bg-blue-300 flex-grow">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>