{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Cybella Network{% endblock %}</title>
        {% block styles %}
        {% endblock %}
        {% tailwind_css %}
        <link rel ="stylesheet" href="{% static 'network/css/styles.css' %}">
        <script src="https://kit.fontawesome.com/d61c00eed6.js" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body class="overflow-hidden w-screen h-screen flex flex-row">
        <!-- Sidebar -->
        <nav class=" container  max-w-[31%] flex flex-col p-2  flex-grow bg-gray-800 h-screen items-end fixed">

            <div class="sidebar flex flex-col text-xl font-normal text-white w-[275px] h-full justify-between">

                <div class="w-full">
                    <div id="logo" class="">
                        <div class="">
                            <img src="{% static 'network/Images/C_logo.png' %}" alt="logo" class="w-18 h-16">
                        </div>
                    </div>
                    <a class="flex py-1 text-center sidebar-link my-2" href="{%url "index"%}"><div class=" p-2 px-5 justify-center"><i class="fa-solid fa-house-user text-2xl mr-8 w-4"></i><span class="font-bold">Home</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-solid fa-tag text-2xl mr-8 w-4 "></i><span>Following</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-bell text-2xl mr-8 w-4"></i><span>Notifications</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-envelope text-2xl mr-8 w-4"></i><span>Messages</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-bookmark text-2xl mr-8 w-4"></i><span>Bookmarks</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-user text-2xl mr-8 w-4"></i><span>Profile</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-solid fa-cog text-2xl mr-8 w-4"></i><span>Settings</span></div></a>

                    <button class="tweet mt-6 w-[90%] p-3">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Post</span>
                    </button>
                </div>

                <div>
                    {% if user.is_authenticated %}
                        <a class="p-2 text-center logout flex justify-between" href="{% url 'logout' %}"><span>{{user.email}}</span><div class="pt-0.5"><i class="fa-solid fa-right-from-bracket text-xl"></i></div></a>
                    {% else %}
                        <a class="p-2 text-center logout flex justify-between" href="{% url 'login' %}"><span>Log In/Register</span><div class="pt-0.5"><i class="fa-solid fa-right-to-bracket text-2xl"></i></div></a>
                    {% endif %}
                </div>

            </div>
        </nav>
        <!-- Sidebar -->
        <div class="body h-screen flex flex-row w-[69%] ml-[31%] ">
            <div class="bg-gray-800 flex-grow relative border-x border-gray-600 max-w-2xl overflow-y-scroll">
                
                {% block body %}
                {% endblock %}
            </div>
            <div class="bg-gray-800 flex-grow">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>