{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Cybella Network{% endblock %}</title>
        {% block styles %}
        {% endblock %}
        {% tailwind_css %}
        <link rel ="stylesheet" href="{% static 'network/css/styles.css' %}">
        <script src="https://kit.fontawesome.com/d61c00eed6.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'network/js/news.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body class="overflow-hidden w-screen h-screen flex flex-row">
        <!-- Sidebar -->
        <nav class=" container  max-w-[31%] flex flex-col p-2  flex-grow bg-gray-800 h-screen items-end fixed">

            <div class="sidebar flex flex-col text-xl font-normal text-white w-[275px] h-full justify-between">

                <div class="w-full">
                    <div id="logo" class="">
                        <div class="">
                            <img src="{% static 'network/Images/C_logo.png' %}" alt="logo" class="w-18 h-16">
                        </div>
                    </div>
                    <a class="flex py-1 text-center sidebar-link my-2" href="{%url "index"%}"><div class=" p-2 px-5 justify-center"><i class="fa-solid fa-house-user text-2xl mr-8 w-4"></i><span class="font-bold">Home</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="{%url "following"%}"><div class="p-2 px-5 justify-center"><i class="fa-solid fa-tag text-2xl mr-8 w-4 "></i><span>Following</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-bell text-2xl mr-8 w-4"></i><span>Notifications</span></div></a>
                    <a class="flex py-1 text-center sidebar-link my-2" href="{%url "bookmark"%}"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-bookmark text-2xl mr-8 w-4"></i><span>Bookmarks</span></div></a>
                    {% if user.is_authenticated%}
                        <a class="flex py-1 text-center sidebar-link my-2" href="{% url 'profile' username=user.username %}"><div class="p-2 px-5 justify-center"><i class="fa-regular fa-user text-2xl mr-8 w-4"></i><span>Profile</span></div></a>
                    {% endif %}
                    <a class="flex py-1 text-center sidebar-link my-2" href="#"><div class="p-2 px-5 justify-center"><i class="fa-solid fa-cog text-2xl mr-8 w-4"></i><span>Settings</span></div></a>

                    <button onclick="" class="tweet mt-6 w-[90%] p-3">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Post</span>
                    </button>
                </div>

                <div>
                    {% if user.is_authenticated %}
                        <a class="p-2 text-center logout flex justify-between" href="{% url 'logout' %}"><span>{{user.email}}</span><div class="pt-0.5"><i class="fa-solid fa-right-from-bracket text-xl"></i></div></a>
                    {% else %}
                        <a class="p-2 text-center logout flex justify-between" href="{% url 'login' %}"><span>Log In/Register</span><div class="pt-0.5"><i class="fa-solid fa-right-to-bracket text-2xl"></i></div></a>
                    {% endif %}
                </div>

            </div>
        </nav>
        <!-- Sidebar -->
        <div class="body h-screen flex flex-row w-[69%] ml-[31%] ">
            <div class="bg-gray-800  relative border-x border-gray-600  w-[500px] overflow-y-scroll flex-grow">
                {% block body %}
                {% endblock %}
                <!--Comment section-->

                <div id="overlay" class="fixed inset-0 w-screen h-screen bg-gray-500 bg-opacity-30 hidden z-10">
                    <div id="commentbox" class="w-[600px] min-h-[366px] bg-gray-800 rounded-2xl m-auto mt-20 p-2 ">

                        <div onclick="closeCommentBox()" class="relative mb-8 inset-2 text-white text-xl hover:cursor-pointer"><i class="fa-solid fa-xmark"></i></div>
                        <div class="w-full mx-auto bg-gray-800 pb-1 p-2 text-white">
                            <div class="flex">
                                <img id="reply_pic" class="w-14 h-12 rounded-full mr-2" src="" alt="user Avatar">
                                
                                <div class="w-full">
                                    <div class="flex pt-1">
                                        <div>
                                            <span id="username" class="font-bold"></span>
                                            <span id="timestamp" class="text-gray-500 text-[13px]"></span>
                                            <span class="text-gray-500 text-[13px]">•</span>
                                            <span class="text-gray-500 text-[13px]">Public</span>
                                        </div>
                                    </div>
                                    <div id="content" class="text-md w-full pl-0 pt-0 p-2 bg-gray-800 "></div>
                                    <div class=" text-gray-500 text-[14px] w-full pl-0 pt-0 p-2  ">Replying to <span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="w-full min-h-[185px] mx-auto bg-gray-800 p-2 text-white ">
                            <form id="reply_form" class="h-full" method="Post" action="" enctype="multipart/form-data">
                                {%csrf_token%}

                                <div class="flex">
                                    {%if user.is_authenticated %}
                                        <img class="w-14 h-12 rounded-full mr-2" src="{{user.picture.url}}" alt="Profile Avatar">
                                    {%else%}
                                        <img class="w-14 h-12 rounded-full mr-2" src="{% static 'network/Images/default.png' %}" alt="Profile Avatar">
                                    {%endif%}
                                    
                                    <div class="w-full text-xl">
                                        <textarea name="content" oninput="resize(this)"  class="text-xl h-28 w-full p-2 overflow-y-hidden bg-gray-800 resize-none focus:outline-offset-0 focus:ring-0  border-0 focus:border-b focus:border-gray-600" 
                                            placeholder="Post your reply"></textarea>
                                    </div>
                                </div>

                                <div class="flex justify-end mt-2 ml-14">
                                    <button class="tweet w-[20%] px-1 py-2" type="submit"> <span>Reply</span></button>
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>         
                <!--Comment section-->
            </div>

            <div class=" bg-gray-800 relative overflow-y-scroll p-3 flex-grow ">
                
                <div id="news" class="rounded-lg p-3 bg-gray-700 bg-opacity-50 w-fit hidden lg:block ">
                    <div class="w-full backdrop-blur-md backdrop-filter mb-6 h-8  p-3 text-xl text-white font-bold "> Your news right here</div>
                </div>
            </div>
        </div>
    </body>
</html>