{% extends "network/layout.html" %}
{% load static %}
{% load custom_filters %}

{% block body %}
<div class=" w-full backdrop-blur-md backdrop-filter h-24 bg-gray-800 sticky p-3 text-xl text-white font-bold border-b border-gray-600">
    Post
</div>
<div id="post{{post.id}}" class="w-full mx-auto bg-gray-800 pb-1 p-2 text-white border-b border-gray-600 hover:cursor-pointer hover:bg-slate-800">
    <div onclick="window.location.href='{% url 'index' %}'" class="flex ">
        <img class="w-14 h-12 rounded-full mr-2" src="{{post.user.picture.url}}" alt="user Avatar">
        <div class="w-full">
            <div class="flex justify-between">
                <div>
                    <span class="font-bold">{{post.user|title}}</span>
                    <span class="text-gray-500 text-[13px]">{{post.timestamp|timesince}} ago</span>
                    <span class="text-gray-500 text-[13px]">•</span>
                    <span class="text-gray-500 text-[13px]">Public</span>
                </div>
                <div onclick="event.stopPropagation(); showOptions(this)"  class="relative hover:cursor-pointer rounded-full hover:bg-blue-600 hover:bg-opacity-20 px-2 py-1">
                    <i class="fa-solid fa-ellipsis-h text-xl text-gray-500  hover:text-blue-400"></i>
                    <div id="optionsBox" class="absolute top-0 right-0 bg-gray-900 rounded-xl w-[300px] hidden z-50">
                        <ul class="list-none font-semibold">
                            {% if request.user == post.user %}
                                <li onclick="deleting({{post.id}})" class="block px-4 py-2 rounded-t-xl font-bold text-red-600 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-solid fa-trash mr-4"></i>Delete</a></li>
                                {% if not post|is_repost%}
                                    <li onclick="editing({{post.id}})" class="block px-4 py-2 text-gray-100 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-solid fa-pen mr-4"></i>Edit</a></li>
                                {%endif%}
                            {% endif %}
                            {% if post in user.bookmarks.all %}
                                <li onclick="bookmark(this,{{post.id}})" class="block px-4 py-2 rounded-b-xl text-gray-100 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-solid fa-bookmark mr-4"></i>Bookmark</a></li>
                            {%else%}
                                <li onclick="bookmark(this,{{post.id}})" class="block px-4 py-2 rounded-b-xl text-gray-100 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-regular fa-bookmark mr-4"></i>Bookmark</a></li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-md w-full pl-0 pt-0 p-2  ">{{post.content}}</div>
            {% if post.images %}
                <div id="images-container" class="">
                    <img class="max-w-xs max-h-xs rounded" src="{{post.images.url}}" alt="post image"> 
                </div> 
            {%endif%}
        </div>
    </div>
    <div class="flex justify-between mt-1 mx-20 text-gray-500">
        <div onclick="reply()" class="flex hover:text-blue-400 hover:cursor-pointer"><i class="fa-regular fa-comment-dots text-xl rounded-full hover:bg-blue-400 hover:bg-opacity-20 p-2 "></i><span class="mt-1.5 ml-1">{{post.comments.count}}</span></div>
        {% if user not in post.likes.all%}
            <div id="like" onclick="like(this,{{post.id}})" class="flex hover:text-rose-400 hover:cursor-pointer"><i class="fa-regular fa-heart text-xl rounded-full hover:bg-rose-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.likes.count}}</span></div>
        {%else%}
            <div id="like" onclick="like(this,{{post.id}})" class="flex hover:text-rose-400 hover:cursor-pointer text-rose-400"><i class="fa-solid fa-heart text-xl rounded-full hover:bg-rose-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.likes.count}}</span></div>
        {%endif%}

        {% if not user.is_authenticated or not post|is_reposted_by_user:user%}
            <div id="repost" onclick="repost(this,{{post.id}})" class="flex hover:text-emerald-500 hover:cursor-pointer"><i class="fa-solid fa-retweet text-xl rounded-full hover:bg-emerald-500 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.reposts.count}}</span></div>
        {%else%}
            <div id="repost" onclick="repost(this,{{post.id}})" class="flex text-emerald-500 hover:text-emerald-500 hover:cursor-pointer"><i class="fa-solid fa-retweet text-xl rounded-full hover:bg-emerald-500 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.reposts.count}}</span></div>
        {%endif%}

        {% if post not in user.bookmarks.all %}
            <div onclick="bookmark({{post.id}});adjustBookmark(this);" class="flex hover:text-blue-400 hover:cursor-pointer"><i class="fa-regular fa-bookmark text-xl rounded-full hover:bg-blue-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{post.bookmarked_by.count}}</span></div>
        {%else%}
            <div onclick="bookmark({{post.id}});adjustBookmark(this);" class="flex text-blue-400 hover:text-blue-400 hover:cursor-pointer"><i class="fa-solid fa-bookmark text-xl rounded-full hover:bg-blue-400 hover:bg-opacity-20 p-2 "></i><span class="mt-1.5 ml-1">{{post.bookmarked_by.count}}</span></div>
        {%endif%}
    </div>
</div>

<!-- Edit Section -->
<form id="editPost{{post.id}}" method="POST" action="{% url 'edit' post_id=post.id %}" enctype="multipart/form-data" class="w-full mx-auto bg-gray-800  p-2 text-white border-b border-gray-600 hidden">
    {%csrf_token%}
    <div class="flex">
        <img class="w-14 h-12 rounded-full mr-2" src="{{post.user.picture.url}}" alt="user Avatar">
        
        <div class="w-full">
            <div class="flex justify-between">
                <div>
                    <span class="font-bold">{{post.user|title}}</span>
                    <span class="text-gray-500 text-[13px]">{{post.timestamp|timesince}} ago</span>
                    <span class="text-gray-500 text-[13px]">•</span>
                    <span class="text-gray-500 text-[13px]">Public</span>
                </div>
                <div class="relative hover:cursor-pointer text-gray-500">
                    <i class="text-xs fa-solid fa-pen mr-3"></i> Editing
                </div>
            </div>
            <div class="text-md w-full pl-0 pt-0 p-0 bg-gray-800 ">
                <textarea name="content" oninput="resize(this)" class=" w-full p-0 bg-gray-800 overflow-y-hidden resize-none focus:outline-offset-0 focus:ring-0  border-0 focus:border-b focus:border-gray-600" >{{post.content}}</textarea>
            </div>
            
            
            <div id="images-container{{post.id}}" class="relative ">
                {% if post.images %}
                    <img class="max-w-xs max-h-xs rounded" src="{{post.images.url}}" alt="post image"> 
                {%endif%}
            </div> 
            
            <div class="flex justify-between">
                <label for="I{{post.id}}" class=" flex items-center hover:cursor-pointer rounded-full hover:bg-sky-400 hover:bg-opacity-10 px-2.5" alt="Media">
                    <i class="fa-solid fa-image text-[20px] text-sky-500"></i>
                    <input type="file" name="E_I" id="I{{post.id}}"  accept="image/*,jpg,jpeg,png" onchange="previewImages('images-container{{post.id}}','I{{post.id}}')" hidden/>
                </label>
                <button class="tweet w-[20%] px-1 py-2" type="submit"> <span>Edit</span></button>
            </div>
        </div>
    </div>
</form>
<!-- Edit Section -->
<div class="w-full  mx-auto bg-gray-800 p-2 text-white border-b border-gray-600 ">
    
    <form method="Post" action="{% url 'comment' post_id=post.id %}" enctype="multipart/form-data">
        {%csrf_token%}
        <div>@replying to {{post.user}}</div>
        <div class="flex">
            {%if user.is_authenticated %}
                <img class="w-14 h-12 rounded-full mr-2" src="{{user.picture.url}}" alt="Profile Avatar">
            {%else%}
                <img class="w-14 h-12 rounded-full mr-2" src="{% static 'network/Images/default.png' %}" alt="Profile Avatar">
            {%endif%}
            
            <div class="w-full text-xl">
                <textarea id="reply_area" name="content" oninput="resize(this)" class="text-xl h-12 w-full p-2 bg-gray-800 overflow-y-hidden resize-none focus:outline-offset-0 focus:ring-0  border-0 focus:border-b focus:border-gray-600" 
                    placeholder="Post your reply"></textarea>
                <div id="images-container" class="relative"></div>
            </div>
        </div>

        <div class="flex justify-between mt-2 ml-14">
            <label for="I" class=" flex items-center hover:cursor-pointer rounded-full hover:bg-sky-400 hover:bg-opacity-10 px-2.5" alt="Media">
                <i class="fa-solid fa-image text-[20px] text-sky-500"></i>
                <input type="file" name="I" id="I" accept="image/*,jpg,jpeg,png" onchange="previewImages('images-container','I')" hidden/>
            </label>
            <button class="tweet w-[20%] px-1 py-2" type="submit"> <span>Reply</span></button>
        </div>
    </form>
</div>
{%for comment in comments%}
        <div id="comment{{comment.id}}" class="w-full mx-auto bg-gray-800 pb-1 p-2 text-white border-b border-gray-600 hover:cursor-pointer hover:bg-slate-800">
            <div class="flex ">
                <img class="w-14 h-12 rounded-full mr-2" src="{{comment.user.picture.url}}" alt="user Avatar">
                <div class="w-full">
                    <div class="flex justify-between">
                        <div>
                            <span class="font-bold">{{comment.user|title}}</span>
                            <span class="text-gray-500 text-[13px]">{{comment.timestamp|timesince}} ago</span>
                            <span class="text-gray-500 text-[13px]">•</span>
                            <span class="text-gray-500 text-[13px]">Public</span>
                        </div>
                        <div onclick="event.stopPropagation(); showOptions(this)"  class="relative hover:cursor-pointer rounded-full hover:bg-blue-600 hover:bg-opacity-20 px-2 py-1">
                            <i class="fa-solid fa-ellipsis-h text-xl text-gray-500  hover:text-blue-400"></i>
                            <div id="optionsBox" class="absolute top-0 right-0 bg-gray-900 rounded-xl w-[300px] hidden z-50">
                                <ul class="list-none font-semibold">
                                    {% if request.user == comment.user %}
                                        <li onclick="" class="block px-4 py-2 rounded-t-xl font-bold text-red-600 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-solid fa-trash mr-4"></i>Delete</a></li>
                                        <li onclick="" class="block px-4 py-2 text-gray-100 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-solid fa-pen mr-4"></i>Edit</a></li> 
                                    {% endif %}
                                    <li onclick="" class="block px-4 py-2 text-gray-100 hover:bg-gray-700 hover:bg-opacity-20"><i class="fa-solid fa-flag mr-4"></i>Report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-md w-full pl-0 pt-0 p-2  ">{{comment.content}}</div>
                    {% if comment.images %}
                        <div id="images-container" class="">
                            <img class="max-w-xs max-h-xs rounded" src="{{comment.images.url}}" alt="post image"> 
                        </div> 
                    {%endif%}
                </div>
            </div>
            <div class="flex justify-between mt-1 mx-20 text-gray-500">
                <div class="flex hover:text-blue-400 hover:cursor-pointer"><i class="fa-regular fa-comment-dots text-xl rounded-full hover:bg-blue-400 hover:bg-opacity-20 p-2 "></i><span class="mt-1.5 ml-1">{{comment.comments.count}}</span></div>
                {% if user not in comment.likes.all%}
                    <div id="like" onclick="like(this,{{comment.id}})" class="flex hover:text-rose-400 hover:cursor-pointer"><i class="fa-regular fa-heart text-xl rounded-full hover:bg-rose-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{comment.likes.count}}</span></div>
                {%else%}
                    <div id="like" onclick="like(this,{{comment.id}})" class="flex hover:text-rose-400 hover:cursor-pointer text-rose-400"><i class="fa-solid fa-heart text-xl rounded-full hover:bg-rose-400 hover:bg-opacity-20 p-2"></i><span class="mt-1.5 ml-1">{{comment.likes.count}}</span></div>
                {%endif%} 
            </div>
        </div>

    {%endfor%}
<script>
    
</script>
{% endblock %}

{% block script %}
    <script src="{% static 'network/js/index.js' %}"></script>
{% endblock %}